<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>Please type dates in YYYY-MM-DD format</p>
       <form action="startup">
           <label for="start date">Start Date</label><br>
           <input type="text" id="start date" name="start date"><br>
           <label for="End Date">End Date</label><br>
           <input type="text" id="end date" name="end date"><br>
           <label for="count">Number of tweets</label><br>
           <input type="text" id="count" name="count"><br>
           <input type="submit" value="submit">
       </form>
       <h4>Output</h4>
       <p>{{output | safe}}</p>
    </body>
</html>